.components-button:not(.components-color-picker__saturation-pointer) {
	border-radius: 4px;
	color: var(--iceberg--color--text);
	transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear, box-shadow 0.1s linear;

	&:focus:not(:disabled) {
		// box-shadow: inset 0 0 0 1px var(--iceberg--color--background), 0 0 0 1.5px var(--iceberg--color--accent--alpha) !important;
		box-shadow: none !important;
		color: var(--iceberg--color--accent--dark);
		outline: 1px solid transparent;
		background: var(--iceberg--color--accent--alpha);
	}

	&.is-primary,
	&.is-secondary,
	&.is-tertiary {
		border-radius: 5px;
		box-shadow: none;
		font-size: 13px;
		height: 34px;
		line-height: 32px;
		padding: 0 13px;
	}

	&.is-primary {
		background: var(--iceberg--color--accent) !important;
		color: var(--iceberg--color--background) !important;
		font-size: 13px;
		font-weight: 500;
		height: 34px;

		&:hover,
		&:focus,
		&:active {
			background: var(--iceberg--color--accent--dark) !important;
			color: var(--iceberg--color--background) !important;
		}

		&:disabled,
		&:disabled:active:enabled,
		&[aria-disabled="true"],
		&[aria-disabled="true"]:active:enabled,
		&[aria-disabled="true"]:focus:enabled,
		&[aria-disabled="true"]:enabled {
			box-shadow: none;
		}
	}

	&.is-secondary {
		border: 0;
		background: var(--iceberg--color--background) !important;
		box-shadow: inset 0 0 0 1px var(--iceberg--color--accent) !important;
		color: var(--iceberg--color--accent) !important;

		&:hover {
			box-shadow: inset 0 0 0 1px var(--iceberg--color--accent--light) !important;
			color: var(--iceberg--color--accent--light) !important;
		}
	}

	&.is-tertiary {
		background-color: var(--iceberg--color--background) !important;
		box-shadow: none !important;
		border: 1px solid var(--iceberg--color--accent--light) !important;
		color: var(--iceberg--color--accent) !important;

		&:hover {
			background-color: var(--iceberg--color--background--light) !important;
			color: var(--iceberg--color--accent) !important;
		}
	}

	&.editor-post-publish-button__button.is-primary {
		background: var(--iceberg--color--background);
		color: var(--iceberg--color--accent);
		font-weight: 600;

		&:hover,
		&:focus,
		&:active {
			background: var(--iceberg--color--accent--alpha);
			color: var(--iceberg--color--accent--dark);
		}

		&[aria-disabled="true"] {
			opacity: 0.25;
			pointer-events: none;
			display: none;
		}
	}

	&.editor-post-save-draft,
	&.editor-post-switch-to-draft {
		font-weight: 600;
		margin-right: 0;

		&:hover,
		&:focus,
		&:active {
			border-color: var(--iceberg--color--accent) !important;
			color: var(--iceberg--color--accent--dark) !important;
		}

		&[aria-disabled="true"] {
			display: none;
		}
	}
}

// Supporting core.
&:not(.is-gutenberg) {

	.components-button:not(.has-icon):not(.components-color-picker__saturation-pointer) {
		padding-left: 12px;
		padding-right: 12px;
	}

	.components-button:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):not(.components-color-picker__saturation-pointer):hover {
		background-color: inherit;
		color: var(--iceberg--color--accent--light);
		box-shadow: none;
	}

	.components-button.is-primary {
		border: none !important;
	}

	.components-iceberg-popover .components-button:not(.is-small):not(.components-circular-option-picker__option):not(.components-color-picker__saturation-pointer):not(.components-color-picker__inputs-toggle):hover {
		color: var(--iceberg--color--accent) !important;
	}

	.components-menu-item__shortcut {
		color: inherit;
	}

	.components-button:hover .components-menu-item__shortcut {
		color: var(--iceberg--color--accent) !important;
	}

	.components-menu-item__button:focus:not(:disabled):not([aria-disabled="true"]),
	.components-menu-item__button.components-button:focus:not(:disabled):not([aria-disabled="true"]) {
		color: var(--iceberg--color--accent);
		border: none;
		box-shadow: none;
		outline-offset: -2px;
		outline: none;
	}
}

.components-button.components-color-picker__saturation-pointer {
	&:focus:not(:disabled) {
		box-shadow: 0 0 0 1.5px #fff, inset 0 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px 2px rgba(0, 0, 0, 0.4) !important;
	}
}
