.edit-post-header {
	background: var(--iceberg--color--background);
	animation: none !important; // Remove odd drop-in animation.
	transform: translateY(0%) !important;
	position: absolute;
	width: 100%;
}

// Add like padding to the left of the toolbar.
.edit-post-header__toolbar {
	padding-left: 14px;
}

.block-editor-editor-skeleton__header {
	border: 0;
}

.editor-post-saved-state {
	color: var(--iceberg--color--accent--light);

	&.is-saved,
	&.is-saving {

		svg {
			display: none;
		}

		&::before {
			-webkit-mask-image: url(../images/icon.svg);
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-size: contain;
			background-color: currentColor;
			background-repeat: no-repeat;
			content: "";
			height: 20px;
			margin-right: 6px;
			width: 12px;
		}
	}
}

.editor-post-switch-to-draft {
	display: none;
}

.components-iceberg-back-to {
	color: var(--iceberg--color--accent) !important;
	height: 42px;
	left: -5px;
	position: relative;
	top: -2px;

	&:hover {
		color: var(--iceberg--color--accent--light) !important;
	}

	svg {
		height: 18px;
		transform: rotate(90deg);
		width: 18px;
	}
}
