.components-iceberg-menu-title {

	.components-base-control__field {
		font-size: 11px;
		opacity: 0.75;
		display: block;
		margin-top: 10px;
		padding-left: 12px;
		padding-right: 12px;
		text-transform: uppercase;
		font-weight: 500;
	}
}
