.components-popover {
	.components-popover__content {
		background-color: var(--iceberg--color--background--light);
		border-color: var(--iceberg--color--accent);
		border-radius: 2px;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.025);
		color: var(--iceberg--color--text);
		padding: 0;

		> div {
			padding: 0;
		}

		.components-button:not(.is-primary) {
			font-weight: 400;
		}

		.components-menu-group {
			margin: 0;
			padding: 12px;

			+ .components-menu-group {
				margin-top: 0;
				padding: 9px 12px;
			}
		}
	}

	&::before,
	&::after {
		display: none;
	}

	&.components-iceberg-popover,
	&.components-autocomplete__popover {
		.components-popover__content {
			min-width: 235px;
		}
	}

	textarea,
	input[type="text"] {
		padding: 10px 10px;
	}
}

.components-menu-group + .components-menu-group,
.components-dropdown-menu__menu .components-menu-group + .components-menu-group {
	border-color: var(--iceberg--color--accent);
}

.components-dropdown-menu__menu {

	.components-menu-group {
		&:first-child {
			margin-top: 0;
		}

		&:not(:last-child) {
			border-color: var(--iceberg--color--accent);
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.components-menu-item__button,
	.components-menu-item__button.components-button {
		padding: 8px 12px;
	}

	.components-menu-item__info-wrapper svg {
		position: absolute !important;
		right: 8px !important;
		height: 21px;
		width: 21px;
	}
}

.components-iceberg-popover {

	.components-button:not(.is-small):not(.components-circular-option-picker__option):not(.components-color-picker__saturation-pointer):not(.components-color-picker__inputs-toggle) {
		padding: 8px 12px;
		height: auto;
		justify-content: flex-start;
		min-height: 42px;

		&:hover {
			color: var(--iceberg--color--accent);
		}

		svg {
			justify-self: flex-end;
			margin-left: auto;
			position: relative;
			right: -5px;
			height: 22px;
			width: 22px;
		}
	}

	&.is-editing-theme .components-popover__content {

		.components-base-control {
			padding: 0 12px;

			&:last-child .components-base-control__field {
				margin-bottom: 0;
			}
		}
	}
}

.components-animate__appear {
	animation-name: IcebergFadeUp;
	animation-iteration-count: once;
	animation-timing-function: cubic-bezier(0.2, 1, 0.25, 1);
	animation-duration: 400ms;
	animation-fill-mode: both;
}

@keyframes IcebergFadeUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

// Supporting core.
&:not(.is-gutenberg) {

	.components-dropdown-menu__menu {
		padding-top: 0;
		padding-bottom: 0;
	}
}
