.components-snackbar {
	background: var(--iceberg--color--accent--alpha) !important;
	border-radius: 4px;
	border-width: 0;
	color: var(--iceberg--color--accent);
	box-shadow: none;
	padding: 8px 16px;

	&:focus {
		box-shadow: 0 0 0 1px var(--iceberg--color--background--light), 0 0 0 2px var(--iceberg--color--accent);
	}

	&__action.components-button {
		margin-left: 20px;
		text-decoration: none !important;
		border-radius: 2px !important;

		&:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):hover {
			color: var(--iceberg--color--accent--dark);
			box-shadow: none;
		}
	}
}

.edit-post-layout .components-editor-notices__snackbar {
	bottom: 15px;
}

&.has-document-info .edit-post-layout .components-editor-notices__snackbar {
	bottom: 42px;
}
