#iceberg-render-editorial-calendar{
	.fc-event-container{
		padding: 3px;
	}
	.fc-event-button-wrapper{
		box-shadow: none !important;

		&.fc-status-draft{
			background: #F7BF5E;
			border-color:#F7BF5E;
			color: #333;
		}

		&.fc-status-publish{
			background: #d9f0ec;
			border-color:#bee2db;
			color: #333;
		}

		&.fc-status-future{
			background: #3788d8;
			border-color:#3788d8;
			color: #fff;
		}
	}

	.fc-event-button-wrapper{
		width: 100%;
		padding: 8px;
		box-sizing: border-box;
		overflow: hidden;
		height: auto;

		.fc-event-headers,
		.fc-event-title,
		.fc-time,
		.fc-status{
			display: flex;
			flex-direction: column;
			flex-basis: 100%;
		}

		.fc-event-headers{
			flex: 2;
			flex-direction: row;
		}

		.fc-event-title{
			flex-wrap: wrap;
			padding-top: 8px;
			max-width: 100%;
			flex: 1;
			
			> span{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.fc-status{
			text-align: right;
		}
	}
}

.component-iceberg-editorial-calendar-info{
	// transition: opacity 500ms ease-in-out;

	.components-popover__content{
		padding: 12px;

		> *{
			display: block;
			width: 100%;
		}
	}

	.fc-event-info--actions{
		.components-button{
			margin-right: 5px;
		}
	}
}

.iceberg-fc-preloader{
	position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
	background: rgba(255,255,255, 0.6);
	
	.components-spinner{
		// background-color: #3788d8;
	}
}

body.is-fullscreen{

	#adminmenumain, #wpadminbar{
		display: none !important;
	}

	#wpcontent, #wpfooter{
		margin: 0 !important;
		padding: 0 !important;
	}
}