// Breakpoints & Media Queries

// Most used breakpoints
$break-huge: 1440px;
$break-wide: 1280px;
$break-large: 960px;	// admin sidebar auto folds
$break-medium: 782px;	// adminbar goes big
$break-medium-max: 780px;
$break-small: 600px;
$break-small-max: 599px;
$break-mobile: 480px;
