// Scaled heading level option, scoped with .is-iceberg
&.has-scaled-heading-levels {
	--iceberg--typography--heading--ratio: 1.1;
	--iceberg--typography--heading--scale-0: var(--iceberg--typography--font-size);
	--iceberg--typography--heading--scale-1: calc(var(--iceberg--typography--heading--scale-0) * var(--iceberg--typography--heading--ratio));
	--iceberg--typography--heading--scale-2: calc(var(--iceberg--typography--heading--scale-1) * var(--iceberg--typography--heading--ratio));
	--iceberg--typography--heading--scale-3: calc(var(--iceberg--typography--heading--scale-2) * var(--iceberg--typography--heading--ratio));
	--iceberg--typography--heading--scale-4: calc(var(--iceberg--typography--heading--scale-3) * var(--iceberg--typography--heading--ratio));
	--iceberg--typography--heading--scale-5: calc(var(--iceberg--typography--heading--scale-4) * var(--iceberg--typography--heading--ratio));
	--iceberg--typography--heading--scale-6: calc(var(--iceberg--typography--heading--scale-5) * var(--iceberg--typography--heading--ratio));

	.editor-styles-wrapper {

		h1,
		.editor-post-title__input {
			font-size: var(--iceberg--typography--heading--scale-6) !important;
		}

		.editor-post-title__input {
			line-height: var(--iceberg--typography--heading--scale-6) !important;
		}

		h2 {
			font-size: var(--iceberg--typography--heading--scale-5) !important;
		}

		h3 {
			font-size: var(--iceberg--typography--heading--scale-4) !important;
		}

		h4 {
			font-size: var(--iceberg--typography--heading--scale-3) !important;
		}

		h5 {
			font-size: var(--iceberg--typography--heading--scale-2) !important;
		}

		h6 {
			font-size: var(--iceberg--typography--heading--scale-1) !important;
		}
	}

	// Style the heading indicators appropriately
	.iceberg-heading-level-indicator {

		&.level-1 .components-button {
			font-size: var(--iceberg--typography--heading--scale-6);
		}

		&.level-2 .components-button {
			font-size: var(--iceberg--typography--heading--scale-5);
		}

		&.level-3 .components-button {
			font-size: var(--iceberg--typography--heading--scale-4);
		}

		&.level-4 .components-button {
			font-size: var(--iceberg--typography--heading--scale-3);
		}

		&.level-5 .components-button {
			font-size: var(--iceberg--typography--heading--scale-2);
		}

		&.level-6 .components-button {
			font-size: var(--iceberg--typography--heading--scale-1);
		}
	}
}
