.components-iceberg-more-menu__content {
	margin-top: 8px;

	svg {
		margin: 0 !important;
		padding: 0;
		right: auto;
		top: 5px;
	}

	.components-menu-item__button {
		position: relative;
	}

	.components-menu-item__info {
		color: var(--iceberg--color--text);
		opacity: 0.65;
		padding-right: 20px;
	}
}

.components-iceberg-more-menu__trigger .components-button.components-dropdown-menu__toggle {
	color: var(--iceberg--color--accent);

	&:hover {
		color: var(--iceberg--color--accent--light);
	}
}

.components-iceberg-more-menu__content .components-popover__content {
	margin-right: -2px !important;
}

// Licensing button
.components-iceberg-license {
	position: absolute;
	bottom: 19px;
	left: 24px; // @todo, RTL should move this to the right.
}

&.has-document-info {
	.components-iceberg-license {
		bottom: 38px;
	}
}
