.block-editor-link-control .block-editor-link-control__search-input.block-editor-link-control__search-input input[type="text"] {
	background-color: var(--iceberg--color--background--light);
	border-color: var(--iceberg--color--text);
	color: var(--iceberg--color--text);

	&:focus {
		border-color: var(--iceberg--color--accent);
		box-shadow: 0 0 0 1px var(--iceberg--color--accent);
	}
}

.block-editor-link-control__search-results-wrapper::before,
.block-editor-link-control__search-results-wrapper::after {
	display: none;
}

.block-editor-link-control__settings {
	background-color: var(--iceberg--color--background--light);
	border-top-color: var(--iceberg--color--accent);
}

.block-editor-link-control__search-item {
	background: var(--iceberg--color--background--dark);
	color: var(--iceberg--color--text);
	border-radius: 4px;

	&:not(:last-of-type) {
		margin-bottom: 4px;
	}

	&:hover {
		color: var(--iceberg--color--accent) !important;
	}
}

.block-editor-link-control__search-item.is-current {
	background: transparent;
}

.block-editor-link-control__search-item .block-editor-link-control__search-item-info {
	color: var(--iceberg--color--text);
	opacity: 0.65;
}

.block-editor-link-control__search-item .block-editor-link-control__search-item-title mark {
	color: var(--iceberg--color--text);
}

.block-editor-link-control__search-item-type {
	background: var(--iceberg--color--background--light);
	color: var(--iceberg--color--text);
}

.components-popover input[type="checkbox"]:checked:focus {
	box-shadow: 0 0 0 2px var(--iceberg--color--text--dark);
}
