// Setting visibility
.components-iceberg-shortcuts__trigger {
	visibility: hidden;
}

&.has-markdown-shortcuts {

	.components-iceberg-shortcuts__trigger {
		visibility: visible;
	}
}

// Position the icon to the bottom right of the viewport.
.components-iceberg-shortcuts {
	position: absolute;
	bottom: 16px;
	right: 22px; // @todo, RTL should move this to the left.
}

&.has-document-info {
	.components-iceberg-shortcuts {
		bottom: 38px;
	}
}

.components-panel__body-toggle.components-button:focus:not(:disabled):not([aria-disabled="true"]) {
	color: var(--iceberg--color--text);
	border: none;
	box-shadow: none;
	outline: none;
	background: var(--iceberg--color--accent--alpha);
}

.components-panel__body-toggle.components-button:active:not(:disabled):not([aria-disabled="true"]) {
	color: var(--iceberg--color--accent--light);
}

.components-autocomplete__result.components-button {
	border-radius: 2px;

	&.is-selected {
		background: var(--iceberg--color--accent--alpha);
		box-shadow: none !important;
		color: var(--iceberg--color--accent);
	}

	&:hover {
		color: var(--iceberg--color--accent);
	}
}

.components-iceberg-shortcuts__content {

	.components-popover__content {
		min-width: 260px !important;
		margin-right: -12px !important; // @todo, RTL may affect this.
	}

	.components-panel__body {
		border: 0;

		&.is-opened {
			padding: 0;

			> .components-panel__body-title {
				margin: 0;
				opacity: 0.65;
			}
		}

		> .components-panel__body-title:hover {
			background: none !important;
			opacity: 1;
		}
	}

	.components-panel__body-title {
		margin: -4px 0;

		.components-button {
			font-size: 12px;
		}
	}

	.components-panel__body-toggle.components-button {
		justify-content: space-between !important;
		color: var(--iceberg--color--text);

		.components-panel__arrow {
			color: inherit;
			transform: none;
			top: 1px;
		}

		span {
			order: 2;
		}
	}
}

.components-iceberg-shortcuts__section {
	border-top: 1px solid var(--iceberg--color--accent);
	padding: 12px;

	&:first-child {
		border-top: 0;
	}

	.components-iceberg-menu-title .components-base-control__field {
		margin-bottom: 10px;
		margin-top: 12px;
	}
}

.components-iceberg-shortcuts__shortcut-list {
	margin-top: 0;
	margin-bottom: 5px;
}

.components-iceberg-shortcuts__shortcut {
	align-items: center;
	display: flex;
	margin-bottom: 0;
	padding: 10px 12px;
}

.components-iceberg-shortcuts__shortcut-description {
	flex: 1;
	flex-basis: auto;
	margin: 0;
}

.components-iceberg-shortcuts__shortcut-term {
	margin: 0 0 0 5px; // @todo, RTL may affect this.
	text-align: right; // @todo, RTL may affect this.
}

.components-iceberg-shortcuts__shortcut-key {
	align-items: center;
	background: var(--iceberg--color--background--dark);
	border-radius: 2px;
	color: var(--iceberg--color--text);
	display: inline-flex;
	font-size: 10px;
	font-weight: 400;
	line-height: 20px;
	height: 22px;
	justify-content: center;
	align-self: center;
	margin: 0 0 0 3px; // @todo, RTL may affect this.
	min-width: 22px;
	padding: 3px 6px 4px;
	opacity: 0.75;
	text-transform: lowercase;
}

.components-iceberg-shortcuts__trigger .components-button {
	color: var(--iceberg--color--accent) !important;
	height: 42px;
	min-width: 42px;

	svg {
		height: 26px;
		width: 26px;
	}

	&.is-opened {
		color: var(--iceberg--color--accent--light) !important;
	}

	&:hover {
		color: var(--iceberg--color--accent--light) !important;
	}
}
