// Position the icon to the bottom right of the viewport.
.components-iceberg-feedback {
	position: absolute;
	bottom: 18px;
	right: 82px; // @todo, RTL may affect this.
}

&.has-document-info {
	.components-iceberg-feedback {
		bottom: 44px;
	}
}

&:not(.has-markdown-shortcuts) {
	.components-iceberg-feedback {
		right: 22px;
	}
}

.components-iceberg-feedback__content {
	.components-popover__content {
		padding: 24px !important;
		min-width: 300px !important;
		margin-right: -26px !important; // @todo, RTL may affect this.
	}

	.components-base-control {
		margin-bottom: 10px;
	}

	.components-button:not(.is-small) {
		min-height: auto !important;

		&:hover {
			color: var(--iceberg--color--background) !important;
		}
	}

	.components-base-control:first-of-type {
		margin-bottom: 20px;
	}
}

.components-iceberg-feedback__trigger {

	.components-button {
		background-color: var(--iceberg--color--accent--alpha) !important;
		color: var(--iceberg--color--accent) !important;
		font-weight: 500;

		&:hover {
			color: var(--iceberg--color--accent--light) !important;
		}

		&:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):hover {
			background-color: var(--iceberg--color--accent--alpha) !important;
		}

		span.components-dropdown-menu__indicator {
			&::after {
				content: "Beta";
				border: 0;
				width: auto;
				height: auto;
			}
		}
	}
}

.components-base-control__label {
	margin-bottom: 3px;
}

.components-modal__frame textarea,
.components-modal__frame input[type="text"],
.components-popover textarea,
.components-popover input[type="text"] {
	background-color: var(--iceberg--color--background--light) !important;
	border-color: var(--iceberg--color--text--dark) !important;
	border-radius: 5px;
	color: var(--iceberg--color--text) !important;

	&:focus {
		border-color: var(--iceberg--color--accent) !important;
		box-shadow: 0 0 0 0.5px var(--iceberg--color--accent) !important;
	}
}

.components-popover textarea,
.components-popover input[type="text"] {
	padding: 10px 10px;
}
