.component-iceberg-contextual-toolbar {

	.components-button {
		height: 40px;
		background: transparent !important;
		color: #fff !important;
	}

	.components-toolbar {
		background: #111;
		border: 0;
		border-radius: 5px;
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		min-height: 40px;
	}
	.components-popover__content {
		background: transparent !important;
		border: 0 !important;
		min-width: auto !important;
		overflow-y: visible;

		&::after {
			content: "";
			position: absolute;
			left: calc(50% - 8px);
			width: 0;
			font-size: 0;
			line-height: 0;
			bottom: -8px;
			border-top: 8px solid #111;
			border-right: 8px solid transparent;
			border-left: 8px solid transparent;
		}
	}
}

&.mobile {
	.component-iceberg-contextual-toolbar {
		display: none;
	}
}
