// Breakpoints and mixins
@import "./styles/breakpoints.scss";
@import "./styles/mixins.scss";
@import "./components/shortcut-button/style.scss";

$imageWidth: 230px;

// Body selector
.is-iceberg {

	//Components
	@import "./components/theme-switcher/style.scss";
	@import "./components/table-of-contents/style.scss";
	@import "./components/heading-level-indicator/style.scss";
	@import "./components/markdown/style.scss";
	@import "./components/shortcuts/style.scss";
	@import "./components/more-menu/style.scss";
	@import "./components/options-modal/style.scss";
	@import "./components/document-info/style.scss";
	@import "./components/settings/style.scss";
	@import "./components/block-indicator/style.scss";
	@import "./components/contextual-toolbar/style.scss";

	//Editor styling
	@import "./styles/ui/hidden.scss";
	@import "./styles/ui/ui.scss";
	@import "./styles/ui/header.scss";
	@import "./styles/ui/dropzone.scss";
	@import "./styles/ui/snackbar.scss";
	@import "./styles/ui/popover.scss";
	@import "./styles/ui/placeholder.scss";
	@import "./styles/ui/button.scss";
	@import "./styles/ui/menu-title.scss";
	@import "./styles/ui/color-palette.scss";
	@import "./styles/ui/resizable.scss";
	@import "./styles/ui/forms.scss";

	//Controls
	@import "./styles/controls/checkbox.scss";
	@import "./styles/controls/range.scss";
	@import "./styles/controls/toggle.scss";
	@import "./styles/controls/link-control.scss";

	// Typography & elements
	@import "./styles/typography.scss";
	@import "./styles/scaled-headings.scss";
	@import "./styles/list.scss";
	@import "./styles/link.scss";
	@import "./styles/separator.scss";
	@import "./styles/more.scss";
	@import "./styles/quote.scss";
	@import "./styles/code.scss";
	@import "./styles/image.scss";
	@import "./styles/embed.scss";
	@import "./styles/image-minimize.scss";
	@import "./styles/text-indent.scss";

	// Responsive
	@import "./styles/ui/responsive.scss";

	.editor-post-title__block:not(.is-focus-mode).is-selected .editor-post-title__input {
		border-color: transparent;
		box-shadow: none;
	}
}
